
button {
  background-color: var(--secondary-color);
  border: none;
  color: #ffffff;
  font-size: 1rem;
  padding: var(--base-size) calc(var(--base-size) * 2);
  text-decoration: none;
  margin: calc(var(--base-size) / 2);
  cursor: pointer;
}

.form {
  padding: var(--base-size);
}

input,
label,
textarea {
  margin: calc(var(--base-size) / 2);
  padding: calc(var(--base-size) / 2);
}

@media screen and (max-width: 768px) {
  form {
    align-self: flex-start;
    left: 10px;
    width: fit-content;
  }

}