:root {
  --primary-color: #232c63;
  --secondary-color: #959ed3;
  --base-size: 16px;
  --header-footer-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: none;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

html {
 
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 0;
  padding: var(--base-size);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
  grid-template: 1fr 4fr 4fr 1fr / 2fr 7fr 2fr;
  grid-template-areas: "header-left header-mid header-right" "left-sidebar main right-sidebar" "left-sidebar main right-sidebar" "footer footer footer";
}

.layout.footer {
  grid-area: footer;
  justify-content: center;
  text-align: center;
}

.layout.footer img {
  display: none;
}

.layout.footer,
.layout.header {
  background-color: var(--primary-color);
  display: flex;
  height: 100%;
  padding: var(--header-footer-size);
  width: 100%;
}

.layout.header.left {
  align-content: center;
  display: flex;
  grid-area: header-left;
  justify-content: center;
  width: 100%;
}

.layout.header.mid {
  align-items: center;
  display: flex;
  grid-area: header-mid;
  justify-content: center;
  width: 100%;
}

.layout.header.right {
  grid-area: header-right;
}

.logo {
  width: 120px;
  height: auto;
  object-fit: contain;
  padding: var(--base-size);
}

.logo img {
 height: 100%;
  object-fit: contain;
  width: 100%;
}

.layout.main {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  grid-area: main;
  padding: var(--base-size);
}

.layout.sidebar-left {
  grid-area: left-sidebar;
}

.layout.sidebar-right {
  grid-area: right-sidebar;
}

.layout.sidebar-right img {
  flex: 0 1 0;
  height: auto;
  margin-bottom: var(--base-size);
  position: inherit;
  width: 100%;
}

.layout.sidebar-left,
.layout.sidebar-right {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: var(--base-size);
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--base-size);
}

.menu-bar {
  align-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px black solid;
  color: var(--primary-color);
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  height: auto;
  justify-content: center;
  margin-top: var(--base-size);
  padding: calc(var(--base-size) / 2);
  width: 100%;
}

.menu-bar.active-page {
  background-color: #232c63;
  color: #ffffff;
}

.menu-button {
  color: var(--primary-color);
}

.menu-bar:hover,
button:hover,
.menu-button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  :root {
   
    --header-footer-size: 16px;
    font-size: 12px;
  }

  /* .layout {
    display: grid;
    grid-template: 1fr 5fr 1fr / 1fr 7fr;
    grid-template-areas: "header-left header-mid" "left-sidebar main" "left-sidebar main" "footer footer";
  } */

  body {
    height: 100%;
  }

  .layout.header {
   
  }

  .layout.header.left img {
    height: auto;
    max-width: 100px;
  }

  .layout.footer {
    justify-content: center;
  }

  .layout.footer img {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    padding: var(--base-size);
    width: 25%;
  }

  .layout.sidebar-left,
  .layout.header.left {
    min-width: 100px;
  }

  .layout.sidebar-right,
  .layout.header.right {
    display: none;
    max-width: 0;
    padding: 0;
  }

  .layout.sidebar-right img {
    display: none;
    max-height: 0;
    max-width: 0;
  }

  .menu-bar {
    max-width: 110px;
  }

  html {
    font-size: 8px;
  }
}