:root {
  --primary-color: #232c63;
  --secondary-color: #959ed3;
  --base-size: 16px;
  --header-footer-size: 36px;
}

* {
  box-sizing: border-box;
}

a {
  color: none;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 0;
  padding: var(--base-size);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
}

.layout {
  display: grid;
  grid-template: 1fr 4fr 4fr 1fr / 2fr 7fr 2fr;
  grid-template-areas: "header-left header-mid header-right" "left-sidebar main right-sidebar" "left-sidebar main right-sidebar" "footer footer footer";
}

.layout.footer {
  grid-area: footer;
}

.layout.footer img {
  display: none;
}

.layout.footer,
.layout.header {
  background-color: var(--primary-color);
  display: flex;
  height: auto;
  max-height: 150px;
  padding: var(--header-footer-size);
  width: 100%;
}

.layout.header.left {
  align-items: center;
  display: flex;
  grid-area: header-left;
  justify-content: center;
}

.layout.header.mid {
  align-items: center;
  display: flex;
  grid-area: header-mid;
  justify-content: center;
}

.layout.header.right {
  grid-area: header-right;
}

.layout.header.left img {
  max-height: 180px;
  padding: var(--base-size);
  width: auto;
}

.layout.main {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  grid-area: main;
  padding: var(--base-size);
}

.layout.sidebar-left {
  grid-area: left-sidebar;
}

.layout.sidebar-right {
  grid-area: right-sidebar;
}

.layout.sidebar-right img {
  height: auto;
  padding: var(--base-size);
  width: 100%;
}

.layout.sidebar-left,
.layout.sidebar-right {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: var(--base-size);
}

.main-content {
  padding: var(--base-size);
  width: 75%;
}

.menu-bar {
  align-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px black solid;
  color: #000000;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  justify-content: center;
  margin: 5%;
  padding: calc(var(--base-size) / 2);
  width: 100%;
}

.menu-bar.active-page {
  background-color: #232c63;
  color: #ffffff;
}

.menu-bar:hover,
button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  :root {
    --base-size: 8px;
    --header-footer-size: 16px;
  }

  body {
    max-width: 768px;
  }

  .layout.header.left {
    max-width: 100px;
  }

  .layout.header.left img {
    height: auto;
    max-width: 100px;
  }

  .layout.footer {
    justify-content: center;
  }

  .layout.footer img {
    box-sizing: content-box;
    display: flex;
    flex-direction: wrap;
    height: fit-content;
    justify-content: space-between;
    padding: var(--base-size);
    width: 25%;
  }

  .layout.main-content {
    display: flex;
  }

  .layout.sidebar-left {
    max-width: 100px;
  }

  .layout.sidebar-left,
  .layout.header.left {
    flex: 1 1 auto;
  }

  .layout.sidebar-right {
    background-color: #ffffff;
  }

  .layout.sidebar-right img {
    display: none;
  }

  .menu-bar {
    width: 100%;
  }

  html {
    font-size: 8px;
  }

  /* gör sponsorbilderna osynliga i footern tills 768px, och få de att synas efter det. Gör right sidbar width=0
sen gör de osynliga i right sidebar */

}